

  <div class="page-header">
    <div class="container">
      <h1>Ruteo Simple</h1>
      <!--  ROUTES: puntos de menú que suplen a href-->
      <div class="navLinks">
        <a [routerLink]="['/home']">Home</a> &nbsp;|
        <a [routerLink]="['/destino']">Destino</a>  &nbsp;|
        <a [routerLink]="['/login']">Login</a>  &nbsp;|
        <a [routerLink]="['/protected']">Protected</a>  &nbsp;|
        <a [routerLink]="['/vuelos']">Vuelo</a>  &nbsp;|
      </div>

    </div>
  </div>

<div class="container content">
  <div class="row">
    <h1>
      {{ title }}
    </h1>
  </div>
<!--  ROUTES: Es el tag que se modifica de acuerdo al modulo de destino-->
  <router-outlet> </router-outlet>

</div>

<hr class="mb-5">

Fecha: {{ time | async }}
